<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333010785602-4igg29j7v4ap778q7lm4r7mmo1iv65dg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333010785602-4igg29j7v4ap778q7lm4r7mmo1iv65dg</string>
	<key>API_KEY</key>
	<string>AIzaSyCQsTDfq4idzxeFynABbbjcWjvik4ULKfk</string>
	<key>GCM_SENDER_ID</key>
	<string>333010785602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thaiebert.ProjetoMarvel</string>
	<key>PROJECT_ID</key>
	<string>projeto-marvel-thai</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-marvel-thai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333010785602:ios:8eb0613d3c7ed3bd3164db</string>
</dict>
</plist>